@model Lab.Practica6.MVC.Models.EmployeeModel

@{
    ViewBag.Title = "Empployee Page";
}

<h1>Insertar Employee</h1>

@using (Html.BeginForm("Insert", "Employee", FormMethod.Post))
{
    <label>Nombre: </label>
    @Html.TextBoxFor(e => e.Nombre)
    @Html.ValidationMessageFor(e => e.Nombre)
    <p>Maximo 10 caracteres</p>
    <br />
    <label>Apellido: </label>
    @Html.TextBoxFor(e => e.Apellido)
    @Html.ValidationMessageFor(e => e.Apellido)
    <p>Maximo 20 caracteres</p>
    <br />
    <input type="submit" class="btn btn-success" value="Guardar" onclick="agregar()" />
}

<br />

@using (Html.BeginForm("Volver", "Employee", FormMethod.Post))
{
    <input type="submit" class="btn btn-success" value="Volver a Index Employee" />
}
<script>
    function agregar() {
        alert("Se realizara el insert del Employee.");
    }
</script>