<h3>Hubo un error</h3>
<h4>Quizas el Employee que intentó eliminiar posee alguna clave foranea.</h4>
<br />
@using (Html.BeginForm("Volver", "Error", FormMethod.Post))
{
    <input type="submit" class="btn btn-success" value="Volver a Index Employee" />
}